<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h2>Add Program</h2>

			<br>

			<form method="post" action="/programs/add">

				<fieldset>
					<legend>Program Information</legend>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="program_code">Program Code:</label>
								<input class="form-control" id="programCode" name="programCode" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="program_name">Program Name:</label>
								<input class="form-control" id="programName" name="programName" type="text">
							</div>
					</div>
				</fieldset>

				<hr>

				<input type="submit" class="btn btn-primary pull-right" value="Add Program"><br><br><br>

			</form>
		</div>
	</div>
</div>