
<div class="row">
	<div class="col-md-12">
		<h2>Images <a href="/images/add" class="btn btn-success pull-right">Add New Image</a></h2>
		<hr>
	</div>

{{#each data}}
<tr>
	<div class="col-md-4">
		<img src="{{this}}" class="img-responsive img-thumbnail" />
	</div>
</tr>
{{else}}
<tr>
	<td colspan="4">No Data Available</td>
</tr>
{{/each}}
</div>